$border: 1px solid #999;

body {
  background-color: #faf9f7;
}

@media print {
  .pt-no-print {
    visibility: hidden;
  }
}

.pt-company {
  img {
    width: 100%;
  }
}

.pt-customer {
  .pt-customer-details {
    min-height: 10rem;
  }
}

.pt-aside {
  width: 10%;
  position: fixed;
  right: 0;
  top: 0;

  section {
    margin: 0.5rem 0;
  }

  label {
    width: 30%;
  }

  input[type="text"] {
    width: 45%;
    text-align: right;
  }
}

.pt-products {
  width: 100%;

  .w-10 {
    width: 10%;
  }

  .w-20 {
    width: 20%;
  }

  th,
  td {
    padding: 0.5rem 1rem;
  }

  tr {
    &:nth-child(even) {
      background-color: #f3f3f3;
    }

    &:last-child {
      background-color: #fff;
    }
  }
}

.pt-bottom {
  margin-top: 6rem;
}

.pt-action {
  input[type="text"] {
    width: 20%;
  }
}

.pt-editable {
  .inputs,
  .buttons {
    display: flex;

    input,
    button {
      flex-grow: 1;
    }
  }

  .wrap {
    display: inline-block;
    width: 100%;
    height: 2rem;
    cursor: pointer;
  }
}

.m-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;

  .m-close {
    text-align: right;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 0.25rem;
  }

  .m-content {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
